@charset "UTF-8";

* {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

html,body {
	padding:0;
	margin:0;
}

body {
	overflow-x:hidden;
}

header {
	background:-moz-linear-gradient(top,rgba(255,255,255,0.02) 0%,rgba(0,0,0,0.02) 100%),url(img/concrete-overlay.png);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0.02)),color-stop(100%,rgba(0,0,0,0.02))),url(img/concrete-overlay.png);
	background:-webkit-linear-gradient(top,rgba(255,255,255,0.02) 0%,rgba(0,0,0,0.02) 100%),url(img/concrete-overlay.png);
	background:-o-linear-gradient(top,rgba(255,255,255,0.02) 0%,rgba(0,0,0,0.02) 100%),url(img/concrete-overlay.png);
	background:-ms-linear-gradient(top,rgba(255,255,255,0.02) 0%,rgba(0,0,0,0.02) 100%),url(img/concrete-overlay.png);
	background:linear-gradient(to bottom,rgba(255,255,255,0.02) 0%,rgba(0,0,0,0.02) 100%),url(img/concrete-overlay.png);
	background-color:#383B3D;
	background-size:100%,100px 100px,auto;
	color:#fff;
	position:relative;
	padding:0 5px;
	z-index:8;
	border-bottom:1px solid #111;
	box-shadow:0 1px 3px rgba(0,0,0,0.4);
	overflow:hidden;
	text-align:center;
}

header h1 {
	display:inline-block;
	margin:0;
	line-height:40px;
	font-size: 20px;
}

header h1::before {
	margin-right:15px;
}

header a:link,header a:hover {
	color:rgba(255,255,255,1);
}

.m-pikabu-nav-toggle {
	position:relative;
	float:left;
	display:block;
	width:50px;
	height:30px;
	margin:10px;
	white-space:nowrap;
	color:#FFF;
	line-height:29px;
	float:left;
	margin-right:5px;
	margin-left:5px;
	cursor:pointer;
	border-radius:4px;
	text-decoration:none;
	background-clip:padding-box;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	position:relative;
	border:1px solid rgba(0,0,0,0.5);
	background:-moz-linear-gradient(top,rgba(255,255,255,0.06) 0%,rgba(0,0,0,0.06) 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0.06)),color-stop(100%,rgba(0,0,0,0.06)));
	background:-webkit-linear-gradient(top,rgba(255,255,255,0.06) 0%,rgba(0,0,0,0.06) 100%);
	background:-o-linear-gradient(top,rgba(255,255,255,0.06) 0%,rgba(0,0,0,0.06) 100%);
	background:-ms-linear-gradient(top,rgba(255,255,255,0.06) 0%,rgba(0,0,0,0.06) 100%);
	background:linear-gradient(to bottom,rgba(255,255,255,0.06) 0%,rgba(0,0,0,0.06) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0affffff',endColorstr='#0a000000',GradientType=0);
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.15),inset 0 0 1px rgba(255,255,255,0.15),0 1px 1px rgba(255,255,255,0.15),0 0 1px rgba(255,255,255,0.15);
}

.m-pikabu-nav-toggle[data-role="left"] {
	float:left;
	font-size:20px;
}

.m-pikabu-nav-toggle[data-role="right"] {
	float:right;
	font-size:20px;
}

.m-pikabu-nav-toggle::after {
	position:absolute;
	left:0;
	top:0;
	display:block;
	width:100%;
	height:100%;
	text-align:center;
	text-indent:0;
}

.m-pikabu-nav-toggle[data-role="right"]::after {
}

.m-pikabu-left-visible .m-pikabu-nav-toggle[data-role="left"],.m-pikabu-right-visible .m-pikabu-nav-toggle[data-role="right"] {
	background:rgba(0,0,0,0.4);
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.5),0 1px 1px rgba(255,255,255,0.15),0 0 1px rgba(255,255,255,0.15);
}

.main-content {
}

.m-pikabu-sidebar {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:10px;
	background:rgba(255,255,255,1);
	color:rgba(0,0,0,1);
}

.m-pikabu-container {
	background:rgba(255,255,255,1);
	overflow-y:scroll !important;
	-webkit-overflow-scrolling:touch;
}

.main-content h2 {
	display:block;
}

.main-content h3 {
	display:block;
}

.main-content p {
}

.main-content p em {
}

.main-content a {
}

.main-content a:hover {
	-webkit-transition:color .1s linear;
	-moz-transition:color .1s linear;
	-o-transition:color .1s linear;
	transition:color .1s linear;
}

.main-content ul {
	margin:15px 0;
}

.no-js html {
	position:relative;
	height:100%;
}

.no-js body {
	min-height:100%;
}

.no-js .m-pikabu-viewport {
	display:block;
	min-height:100%;
}

.no-js .m-pikabu-nav-toggle {
	display:none;
}

.no-js .m-pikabu-left,.no-js .m-pikabu-right {
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	width:20%;
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}

.no-js .m-pikabu-container {
	margin-left:20%;
	width:60%;
}

@media all and (max-width: 768px) {
	.m-pikabu-container {
		z-index: 9;
		-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
		-moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
		box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
	}
}

@media all and (min-width: 769px) {
	html {
		position:relative;
		height:100%;
	}

	body {
		min-height:100%;
	}

	.m-pikabu-viewport {
		display:block;
		min-height:100%;
	}

	.m-pikabu-nav-toggle {
		display:none;
	}

	.m-pikabu-left,.m-pikabu-right {
		display:block;
		position:absolute;
		top:0;
		bottom:0;
		width:20%;
		-webkit-transform:translate3d(0,0,0);
		-moz-transform:translate3d(0,0,0);
		-ms-transform:translate3d(0,0,0);
		-o-transform:translate3d(0,0,0);
		transform:translate3d(0,0,0);
	}

	.m-pikabu-container {
		margin-left:20%;
		width:60%;
		border-left: 1px solid #CCC;
		border-right: 1px solid #CCC;
	}

	.m-pikabu-viewport {
		position:relative;
		overflow:hidden;
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		height:100vh;
		-webkit-backface-visibility:hidden;
		backface-visibility:hidden;
		will-change:overflow;
	}

	.m-pikabu-right, .m-pikabu-left {
		overflow:auto;
		height:auto;
		-webkit-overflow-scrolling:touch;
		-ms-overflow-style:none;
	}

	.m-pikabu-container {
		overflow:auto;
		height:auto;
	}

	header {
		position:absolute;
		left: 0;
		top: 0;
		width: 100%;
	}

	.main-content, .m-pikabu-sidebar {
		margin-top: 40px;
	}
}

.main-content .jumbotron {
	margin-top: 1em;
}

.m-pikabu-overlay {
	/* background:rgba(0,0,0,0.5); */
}

.m-pikabu-left-visible .m-pikabu-viewport, .m-pikabu-right-visible .m-pikabu-viewport {
	height:100%!important;
	overflow-y:hidden;
}

.m-pikabu-left-visible .m-pikabu-sidebar, .m-pikabu-right-visible .m-pikabu-sidebar {
	height:100%!important;
	overflow-y:scroll !important;
	-webkit-overflow-scrolling:touch;
	z-index: 8;
}

.m-pikabu-left::-webkit-scrollbar,.m-pikabu-container::-webkit-scrollbar,.m-pikabu-right::-webkit-scrollbar {
	display:none;
}

.main-content .container {
	width: 95% !important;
}